input.instance {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    background-color: #7fff73;
    display: block;
    clear:both;
    padding: 1em;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 95%;
}

input.instance:hover {
    background-color: #c5ff73;
}

input.instance:disabled {
    background-color: #8aba85;
}

#instances {
    text-align: center;
}

body {
    font-family: arial;
}

a {
    color: #b473ff;
}
